<div class="genes-container">
  <div class="genes-info">
    <p class="genes-info-title">Query Genes
      <mat-icon [inline]="true" [matTooltip]="getInfoTooltip()">info
      </mat-icon>
    </p>
    <div class="genes-info-buttons">
      <input id="gmt-selection" type="file" name="files" (change)="onGmtChange($event)" style="display: none"/>

      <button mat-button (click)="importGmtFile()"
              matTooltip="Import a file in Gene Matrix Transposed file format (*.gmt)">
        <mat-icon>cloud_upload</mat-icon>
        Import GMT
      </button>

      <input id="gmx-selection" type="file" name="files" (change)="onGmxChange($event)" style="display: none"/>

      <button mat-button (click)="importGmxFile()" matTooltip="Import a file in Gene MatriX file format (*.gmx)">
        <mat-icon>cloud_upload</mat-icon>
        Import GMX
      </button>
    </div>
  </div>
  <app-gene-list #upGenes class="up-genes" title="Up genes / Geneset"
                 (genesChanged)="onUpGenesChanged($event)"></app-gene-list>
  <app-gene-list #downGenes class="down-genes" title="Down genes"
                 (genesChanged)="onDownGenesChanged($event)"></app-gene-list>
</div>
