table {
  width: 100%;
}

#pagination-container {
  display: grid;
  grid-template-areas: 'loading paginator';
  grid-template-columns: 1fr 1fr;
}

#loading {
  grid-area: loading;
  justify-self: start;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;
  place-content: center / start;
}

#paginator {
  grid-area: paginator;
  justify-self: end;
  background-color: transparent;
}

.gray {
  background-color: #FAFAFA
}

.mat-table {
  margin-top: 10px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-left: 6px;
  padding-right: 6px;
}

td.mat-cell {
  padding-top: 9px;
  padding-bottom: 9px;
}

.mat-column-tau, .mat-column-upFdr, .mat-column-downFdr, .mat-column-drugDss {
  max-width: 55px;
  width: 55px;
}

.mat-column-summary {
  max-width: 220px;
  width: 220px;
}

.mat-column-drug {
  word-wrap: break-word;
  max-width: 120px;
  width: 120px;
}

.mat-column-drugMoa {
  word-wrap: break-word;
  max-width: 110px;
  width: 110px;
}

.mat-column-summary #titleDiv {
  margin-bottom: 57px;
}

.mat-column-drugStatus {
  max-width: 92px;
  width: 92px;
}

::ng-deep .mat-tooltip {
  white-space: pre-line;
  word-wrap: break-word;
  line-height: 1.5;
}

::ng-deep .explanation-drug {
  color: orange;
}

::ng-deep .explanation-boosts {
  color: red;
}

::ng-deep .explanation-inhibits {
  color: green;
}

::ng-deep .explanation-treatment {
  color: blue;
}

::ng-deep .explanation-disease {
  color: #3cb371;
}
