app-cmap-gene-set-signature-results-graph {
  .bar {
    fill: steelblue;
  }

  .bar:hover {
    fill: brown;
  }

  .axis--x path {
    display: none;
  }

  margin: 1px;
}

app-cmap-gene-set-signature-results-summary {
  margin: 1px;
}
