<div class="results-container" *ngIf="isLoading()">
  <p>Loading signature...</p>
  <mat-spinner diameter="100"></mat-spinner>
</div>

<div class="results-container" *ngIf="isError()">
  <p>{{errorMessage}}</p>
</div>

<div class="results-container" *ngIf="isLoaded()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{signature.signatureName}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Signature information
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item> Source database: {{signature.sourceDb}}<a *ngIf="signature.sourceDbUrl"
                                                                    href="{{signature.sourceDbUrl}}" target="_blank">
            <mat-icon inline="true">link</mat-icon>
          </a></mat-list-item>
          <mat-list-item> Organism: {{signature.organism}}</mat-list-item>
          <mat-list-item *ngIf="signature.disease.length > 0"> Disease: {{signature.disease}}</mat-list-item>
          <mat-list-item *ngIf="signature.cellTypeA.length > 0"> Case type: {{signature.cellTypeA}}</mat-list-item>
          <mat-list-item *ngIf="signature.cellSubTypeA.length > 0"> Case subype: {{signature.cellSubTypeA}}
          </mat-list-item>
          <mat-list-item *ngIf="signature.cellTypeB.length > 0"> Reference type: {{signature.cellTypeB}}</mat-list-item>
          <mat-list-item *ngIf="signature.cellSubTypeB.length > 0"> Reference subype: {{signature.cellSubTypeB}}
          </mat-list-item>
          <mat-list-item> Article: {{signature.articleTitle}} <a
            href="http://www.ncbi.nlm.nih.gov/pubmed/{{signature.articlePubMedId}}" target="_blank">
            <mat-icon svgIcon="pubmed"></mat-icon>
          </a></mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>

  <app-cmap-drug-results-summary [dataSource]="dataSource">
    <app-signature-view-graph [dataSource]="dataSource"></app-signature-view-graph>
  </app-cmap-drug-results-summary>
  <app-signature-view-table [signature]="signature" [dataSource]="dataSource"
                            [tauThreshold]="minDatabaseTau"></app-signature-view-table>
</div>
