<div *ngIf="isLoading()">
  <p>Loading signature...</p>
  <mat-spinner diameter="100"></mat-spinner>
</div>

<div *ngIf="isError()">
  <p>{{errorMessage}}</p>
</div>

<ng-container *ngIf="isLoaded()">

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{signature.signatureName}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Signature Information
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item> Source Database: {{signature.sourceDb}}</mat-list-item>
          <mat-list-item> Organism: {{signature.organism}}</mat-list-item>
          <mat-list-item *ngIf="signature.disease.length > 0"> Disease: {{signature.disease}}</mat-list-item>
          <mat-list-item *ngIf="signature.cellTypeA.length > 0"> Case Type: {{signature.cellTypeA}}</mat-list-item>
          <mat-list-item *ngIf="signature.cellSubTypeA.length > 0"> Case Subype: {{signature.cellSubTypeA}}
          </mat-list-item>
          <mat-list-item *ngIf="signature.cellTypeB.length > 0"> Reference Type: {{signature.cellTypeB}}</mat-list-item>
          <mat-list-item *ngIf="signature.cellSubTypeB.length > 0"> Reference Subype: {{signature.cellSubTypeB}}
          </mat-list-item>
          <mat-list-item> Article: {{signature.articleTitle}} <a
            href="http://www.ncbi.nlm.nih.gov/pubmed/{{signature.articlePubMedId}}" target="_blank">
            <mat-icon svgIcon="pubmed"></mat-icon>
          </a></mat-list-item>
        </mat-list>
      </mat-expansion-panel>

    </mat-card-content>
  </mat-card>

  <app-signature-view-graph [dataSource]="dataSource"></app-signature-view-graph>
  <app-signature-view-summary [dataSource]="dataSource"></app-signature-view-summary>
  <app-signature-view-table [signature]="signature" [dataSource]="dataSource"
                            [tauThreshold]="minDatabaseTau"></app-signature-view-table>
</ng-container>
