<div class="signature-info-grid">
  <div class="signature-name" [matTooltip]="signatureNameTooltip()">{{signature.signatureName}}</div>

  <button mat-icon-button [matMenuTriggerFor]="moreInfoMenu">
    <mat-icon>open_in_new</mat-icon>
  </button>

  <mat-menu #moreInfoMenu="matMenu" class="more-info-menu-panel">
    <a mat-menu-item class="pubmed-button" *ngIf="signature.articlePubMedId"
       href="http://www.ncbi.nlm.nih.gov/pubmed/{{signature.articlePubMedId}}"
       target="_blank">
      PubMed
    </a>
    <a mat-menu-item class="dreimt-query-button" (click)="navigateToSignature()">
      DREIMT Query
    </a>
    <a mat-menu-item class="db-button" *ngIf="signature.sourceDbUrl"
       href="{{signature.sourceDbUrl}}" target="_blank">
      {{signature.sourceDb}}
    </a>
  </mat-menu>
</div>
