<mat-card>
  <mat-card-title>Filter Database Fields</mat-card-title>
  <mat-card-content>
    <div id="basic-filters-form" [className]="isAdvancedPanelOpened ? 'invisible' : 'visible'">
      <div class="filters-warning-message" [hidden]="isFiltersWarningMessageHidden()">
        <mat-icon inline="true">warning</mat-icon>
        You must select the cell type/subtype 1 or the drug filters to filter the database, or alternatively use the
        advanced filters panel.
      </div>

      <app-filter-field class="basic-filter-cell"
                        label="Cell type/subtype 1"
                        [options]="cellTypeAndSubtype1FieldFilter.options"
                        [(filter)]="cellTypeAndSubtype1FieldFilter.filter"
                        (filterChange)="updateFilterValues()"
                        [matTooltip]="TOOLTIP_CELL_TYPE_1"
                        [debounceTime]="debounceTime"
                        [maxOptions]="maxOptions"></app-filter-field>

      <app-filter-field class="basic-filter-drug-effect"
                        #cellType1EffectBasic
                        label="Drug effect"
                        [options]="cellType1EffectFieldFilter.options"
                        [optionLabelMapper]="mapDrugEffectValues"
                        [(filter)]="cellType1EffectFieldFilter.filter"
                        (filterChange)="updateFilterValues()"
                        fixedValues="true"
                        [matTooltip]="getCellType1DependentTooltip(TOOLTIP_DRUG_EFFECT)"
                        [debounceTime]="debounceTime"
                        [maxOptions]="maxOptions"></app-filter-field>

      <app-filter-field class="basic-filter-drug"
                        label="Drug name"
                        [options]="drugCommonNameFieldFilter.options"
                        [(filter)]="drugCommonNameFieldFilter.filter"
                        (filterChange)="updateFilterValues()"
                        [matTooltip]="TOOLTIP_DRUG"
                        [debounceTime]="debounceTime"
                        [maxOptions]="maxOptions"></app-filter-field>
    </div>

    <mat-expansion-panel (opened)="advancedPanelOpened()" (closed)="advancedPanelClosed()"
                         [expanded]="isAdvancedPanelOpened">
      <mat-expansion-panel-header>
        <mat-panel-title>Advanced Filters</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="filters-form">
        <app-number-field #tauMin label="Min. tau" [debounceTime]="debounceTime" [min]="0" [max]="100" [step]="1"
                          [matTooltip]="TOOLTIP_MIN_TAU"
                          (valueChange)="minTauFilter.setValue($event)"></app-number-field>

        <app-number-field #maxUpFdr label="Max. up genes FDR" [debounceTime]="debounceTime" [min]="0" [max]="1"
                          [step]="0.05"
                          [matTooltip]="TOOLTIP_MAX_UP_FDR"
                          (valueChange)="maxUpFdrFilter.setValue($event)"></app-number-field>

        <app-number-field #maxDownFdr label="Max. down genes FDR" [debounceTime]="debounceTime" [min]="0" [max]="1"
                          [step]="0.05"
                          [matTooltip]="TOOLTIP_MAX_DOWN_FDR"
                          (valueChange)="maxDownFdrFilter.setValue($event)"></app-number-field>

        <app-filter-field label="Interaction type"
                          [options]="interactionTypeFilter.options"
                          [optionLabelMapper]="mapInteractionType"
                          [(filter)]="interactionTypeFilter.filter"
                          fixedValues="true"
                          (filterChange)="updateFilterValues()"
                          [matTooltip]="TOOLTIP_INTERACTION_TYPE"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <div class="title-row">Drug filters</div>

        <app-filter-field #cellType1EffectAdvanced
                          label="Drug effect"
                          [options]="cellType1EffectFieldFilter.options"
                          [optionLabelMapper]="mapDrugEffectValues"
                          [(filter)]="cellType1EffectFieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          fixedValues="true"
                          [matTooltip]="getCellType1DependentTooltip(TOOLTIP_DRUG_EFFECT)"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="Drug name"
                          [options]="drugCommonNameFieldFilter.options"
                          [(filter)]="drugCommonNameFieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [matTooltip]="TOOLTIP_DRUG"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="MOA"
                          [options]="drugMoaFieldFilter.options"
                          [(filter)]="drugMoaFieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [matTooltip]="TOOLTIP_DRUG_MOA"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="Drug status"
                          [options]="drugStatusFieldFilter.options"
                          [optionLabelMapper]="mapDrugStatus"
                          [(filter)]="drugStatusFieldFilter.filter"
                          fixed="true"
                          (filterChange)="updateFilterValues()"
                          [matTooltip]="TOOLTIP_DRUG_STATUS"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-number-field #minDrugDss label="Min. drug specificity score" [debounceTime]="debounceTime" [min]="0"
                          [max]="1" [step]="0.05"
                          [matTooltip]="TOOLTIP_DRUG_DSS"
                          (valueChange)="minDrugDssFilter.setValue($event)"></app-number-field>

        <div class="title-row">Signature/Geneset filters</div>

        <app-filter-field label="Name"
                          [options]="signatureNameFieldFilter.options"
                          [(filter)]="signatureNameFieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [matTooltip]="TOOLTIP_SIGNATURE_NAME"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="Source DB"
                          [options]="signatureSourceDbFieldFilter.options"
                          [(filter)]="signatureSourceDbFieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [matTooltip]="TOOLTIP_SIGNATURE_SOURCE_DB"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="PubMed ID"
                          [options]="pubMedIdFieldFilter.options"
                          [(filter)]="pubMedIdFieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [matTooltip]="TOOLTIP_SIGNATURE_PUBMED"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="Experimental design"
                          [options]="experimentalDesignFilter.options"
                          [optionLabelMapper]="mapExperimentalDesign"
                          [(filter)]="experimentalDesignFilter.filter"
                          fixedValues="true"
                          (filterChange)="updateFilterValues()"
                          [matTooltip]="TOOLTIP_SIGNATURE_EXPERIMENTAL_DESIGN"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="Cell type/subtype 1"
                          [options]="cellTypeAndSubtype1FieldFilter.options"
                          [(filter)]="cellTypeAndSubtype1FieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [debounceTime]="debounceTime"
                          [matTooltip]="TOOLTIP_CELL_TYPE_1"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field #cellType1Disease
                          label="Cell type 1 disease"
                          [options]="cellType1DiseaseFieldFilter.options"
                          [(filter)]="cellType1DiseaseFieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [matTooltip]="getCellType1DependentTooltip(TOOLTIP_SIGNATURE_CELL_TYPE_1_DISEASE)"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field #cellType1Treatment
                          label="Cell type 1 treatment"
                          [options]="cellType1TreatmentFieldFilter.options"
                          [(filter)]="cellType1TreatmentFieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [matTooltip]="getCellType1DependentTooltip(TOOLTIP_SIGNATURE_CELL_TYPE_1_TREATMENT)"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="Cell type/subtype 2"
                          #cellTypeAndSubtype2
                          [options]="cellTypeAndSubtype2FieldFilter.options"
                          [(filter)]="cellTypeAndSubtype2FieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [debounceTime]="debounceTime"
                          [matTooltip]="TOOLTIP_SIGNATURE_CELL_TYPE_2"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="Condition"
                          [options]="diseaseFieldFilter.options"
                          [(filter)]="diseaseFieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [matTooltip]="TOOLTIP_SIGNATURE_CONDITION"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="Organism"
                          [options]="organismFieldFilter.options"
                          [(filter)]="organismFieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [matTooltip]="TOOLTIP_SIGNATURE_ORGANISM"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>
      </div>
    </mat-expansion-panel>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button id="clearFiltersButton" (click)="clearFiltersAction()">
      <mat-icon>delete_sweep</mat-icon>
      Clear Filters
    </button>
  </mat-card-actions>
</mat-card>
