<mat-card>
  <mat-card-title>Filter Database Fields</mat-card-title>
  <mat-card-content>

    <div class="basic-filters-form">
      <app-filter-field label="Organism"
                        [options]="organismFieldFilter.options"
                        [(filter)]="organismFieldFilter.filter"
                        (filterChange)="updateFilterValues()"
                        [debounceTime]="debounceTime"
                        [maxOptions]="maxOptions"></app-filter-field>

      <app-filter-field label="Cell type/subtype 1"
                        [options]="cellTypeAndSubtype1FieldFilter.options"
                        [(filter)]="cellTypeAndSubtype1FieldFilter.filter"
                        (filterChange)="updateFilterValues()"
                        [debounceTime]="debounceTime"
                        [showOptionsTooltip]="true"
                        [maxOptions]="maxOptions"></app-filter-field>

      <app-filter-field label="Drug Source Name"
                        [options]="drugCommonNameFieldFilter.options"
                        [(filter)]="drugCommonNameFieldFilter.filter"
                        (filterChange)="updateFilterValues()"
                        [debounceTime]="debounceTime"
                        [maxOptions]="maxOptions"></app-filter-field>
    </div>

    <div class="filters-warning-message" [hidden]="isFiltersWarningMessageHidden()">
      <mat-icon inline="true">warning</mat-icon>
      You must select the organism and the cell type/subtype 1 filters to filter the database (drug is optional) or
      use the advanced filters panel.
    </div>

    <mat-expansion-panel (opened)="advancedPanelOpened()" (closed)="advancedPanelClosed()">
      <mat-expansion-panel-header>
        <mat-panel-title>Advanced Filters</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="filters-form">
        <app-filter-field label="Drug Source Name"
                          [options]="drugCommonNameFieldFilter.options"
                          [(filter)]="drugCommonNameFieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="Signature/Geneset Name"
                          [options]="signatureNameFieldFilter.options"
                          [(filter)]="signatureNameFieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="Signature/Geneset Source DB"
                          [options]="signatureSourceDbFieldFilter.options"
                          [(filter)]="signatureSourceDbFieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="PubMed ID"
                          [options]="pubMedIdFieldFilter.options"
                          [(filter)]="pubMedIdFieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="Experimental Design"
                          [options]="experimentalDesignFilter.options"
                          [(filter)]="experimentalDesignFilter.filter"
                          fixedValues="true"
                          (filterChange)="updateFilterValues()"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="Condition"
                          [options]="diseaseFieldFilter.options"
                          [(filter)]="diseaseFieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="Organism"
                          [options]="organismFieldFilter.options"
                          [(filter)]="organismFieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="Interaction Type"
                          [options]="interactionTypeFilter.options"
                          [(filter)]="interactionTypeFilter.filter"
                          fixedValues="true"
                          (filterChange)="updateFilterValues()"
                          [debounceTime]="debounceTime"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="Cell type/subtype 1"
                          [options]="cellTypeAndSubtype1FieldFilter.options"
                          [(filter)]="cellTypeAndSubtype1FieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [debounceTime]="debounceTime"
                          [showOptionsTooltip]="true"
                          [maxOptions]="maxOptions"></app-filter-field>

        <app-filter-field label="Cell type/subtype 2"
                          #cellTypeAndSubtype2
                          [options]="cellTypeAndSubtype2FieldFilter.options"
                          [(filter)]="cellTypeAndSubtype2FieldFilter.filter"
                          (filterChange)="updateFilterValues()"
                          [debounceTime]="debounceTime"
                          [showOptionsTooltip]="true"
                          [maxOptions]="maxOptions"></app-filter-field>

        <div></div>

        <div></div>

        <app-number-field #tauMin label="Min. TAU" [debounceTime]="debounceTime" [min]="0" [max]="100" [step]="1"
                          (valueChange)="minTauFilter.setValue($event)"></app-number-field>
        <app-number-field #maxUpFdr label="Max. Up genes FDR" [debounceTime]="debounceTime" [min]="0" [max]="1"
                          [step]="0.05"
                          (valueChange)="maxUpFdrFilter.setValue($event)"></app-number-field>
        <app-number-field #maxDownFdr label="Max. Down genes FDR" [debounceTime]="debounceTime" [min]="0" [max]="1"
                          [step]="0.05"
                          (valueChange)="maxDownFdrFilter.setValue($event)"></app-number-field>
      </div>
    </mat-expansion-panel>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button id="clearFiltersButton" (click)="clearFiltersAction()">
      <mat-icon>delete_sweep</mat-icon>
      Clear Filters
    </button>
  </mat-card-actions>
</mat-card>
